<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Ponmari_Sample</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="/assets/dashboard/plugins/fontawesome-free/css/all.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- bootsrtap -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Theme style -->
  <link rel="stylesheet" href="/assets/dashboard/dist/css/alter.css">
  <link rel="stylesheet" href="/assets/dashboard/dist/css/mbbs.css">
  <!-- Google Font Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro300,400,400i,700" rel="stylesheet">
  <style>
    @media print{
      #table2{
  border: hidden!important;
}
body{
  margin-top: 0px!important;
 
}
@page {size: landscape}

    }
</style>
</head>
<body class="hold-transition sidebar-mini">
    <div class="toolbar no-print">
      <button class="btn btn-info" onclick="window.print()">
        Print Certificate
      </button>
    </div>
   
<section id="report"class="black ">
  <div class="container-fluid">
         <div id="reportcard"class="  "style="font-family: normal;">
 
<div class="row justify-content-center mb-5">
  <div class="col-md-12"><h4 class="other-font "><u>Tirunelveli Medical College, Tirunelveli-11 Admission Register</u></h4>
     </div>
</div>
      <br />
          
      <table class="table">
        <thead id="table2"style="border:none">
          
    <tr>
      <th scope="col">SI. NO</th>
      <th scope="col">Name of the Student/ Register No /
Phone No
</th>
      <th scope="col">Father's Name / Address</th>
      <th scope="col">DOB </th>
            <th scope="col">DOJ </th>
      <th scope="col">Community </th>
      <th scope="col">Qualification / Register No / School Name </th>
      <th scope="col">SQ / AIQ  </th>
   <th scope="col">Blood Group</th>
      <th scope="col">Photo</th>

    </tr>
  </thead>
  <tbody id="table2"class="">
    <tr>
      <td >1</td>
      <td>Aakash A M
Mobile No: 9894435757
E-Mail:
aakashamparvathik@gmail.com</td>
      <td>Murugan A
Parvathi K
38/B, 3rd Cross Street,
Veeramanikapuram,
Melapalayam
Tirunelveli-627005
</td>
      <td><p>16/11/2000</p></td>
      <td>11/12/2020</td>
            <td>Scheduled
Castes-Hindu
-Hindu -
Pallan
</td>
<td>HSC,1811355045,SRV Boys
HSS,Muthukalipatti,Namakkal</td>
      <td>State Quota</td>
      <td>B Positive</td>
<td><img src="/assets/img/girl (1).jpg" class="img-fluid"style="height:128px"></td>
    </tr>
  
        <tr>
      <td >1</td>
      <td>Aakash A M
Mobile No: 9894435757
E-Mail:
aakashamparvathik@gmail.com</td>
      <td>Murugan A
Parvathi K
38/B, 3rd Cross Street,
Veeramanikapuram,
Melapalayam
Tirunelveli-627005
</td>
      <td>16/11/2000</td>
      <td>11/12/2020</td>
            <td>Scheduled
Castes-Hindu
-Hindu -
Pallan
</td>
<td>HSC,1811355045,SRV Boys
HSS,Muthukalipatti,Namakkal</td>
      <td>State Quota</td>
      <td>B Positive</td>
            <td><p style="border: 1px solid black;width: 100px;height: 100px">Photo</p></td>

    </tr>
  
  </tbody>
</table> 

 
 
  </div>
</div>
</div>
</section>




 
<!-- jQuery bootstrap -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
UPLOADCARE_PUBLIC_KEY = 'demopublickey';
</script>
<script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.full.min.js" charset="utf-8"></script>
<!-- AdminLTE App -->
<script src="js/adminlte.js"></script>
<script src="js/mbbs.js"></script>

<!-- AdminLTE for demo purposes -->
<script src="js/demo.js"></script>
<!-- page script -->


</body>

</html>